body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2% 2% 2% 2%;
    background-color: lightblue;


}

.topnav {
    overflow: hidden;
    background-color: rgb(12, 10, 8);
    border-radius: 5px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(245, 166, 166);
}

.topnav a.active {
    background-color: tan;
    color: white;
}

.topnav .icon {
    display: none;
}


/* CSS of Index */

.main-div {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}

.main-div img {
    width: 100%;
    height: 100%;
    margin-right: 0;
}




/* CSS of Contact */
#contact-div {
    width: auto;
    background-color: rgb(211, 186, 186);
}


/* CSS of Python */
.py-basic {
    text-align: justify;
    background-color: azure;
    padding: 1px 5px;
    word-spacing: 5px;
    margin-top: 1px;
}

#py-variable {
    width: 500px;
    background-color: #eab9b9;
    padding: 8px 8px 8px 8px;
}




/* CSS of Java */
.div1 {
    background-color: rgb(236, 236, 225);
    padding: 10px 10px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 25px;

}

.div1 .div1-img {
    width: 100%;
    padding-top: 8px;
    align-items: center;

}

.java-pro {
    width: 500px;
    background-color: #eab9b9;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 10px;

}

#pag {
    width: 100%;
    border-radius: 10px;
}

.javaImg {
    width: 100%;
    padding: 100px 100px 100px 100px;
}

#javaruntime {
    width: 150px;
    align-items: center;
    margin-left: 35%;
}

.container {
    background-color: #62b97c;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container p {
    color: white;
    font-size: 40px;

}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    animation: load 0.8s alternate infinite;
}

.dot:nth-child(1){
    animation-delay: 0.2s;
}

.dot:nth-child(2){
    animation-delay: 0.4s;
}

.dot:nth-child(3){
    animation-delay: 0.6s;
}

.dot:nth-child(4){
    animation-delay: 0.8s;
}


@keyframes load {
    from {
        height: 0;
    }
    to{
        height: 40px;
    }
}


.footer {
    padding: 2px 2px 2px 2px;
    background-color: wheat
}

/* CSS of Universal*/
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(236, 24, 9);
}

h2,
h3,
h4,
h5 {
    color: rgb(0, 93, 46);
}

table,
th,
td {
    border: solid;
    border-collapse: collapse;
}

th {
    background-color: bisque;
}

td {
    padding: 10px 5px 5px 5px;
}



ul {
    list-style-type: disc;
}

/* CSS of About */
#about {
    background-color: rgb(233, 237, 241);
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    /* CSS of Index */
    .main-div {
        width: auto;
        height: 200px;
        background-color: white;
        /* margin-left: 5px; */
        margin-top: 5px;
        float: left;
    }

    .main-div img {
        width: 100%;
        height: 100%;
    }




    /* CSS of Java */
    .div1 {
        background-color: rgb(236, 236, 225);
        padding-left: 8px;
        padding-right: 10px;
        text-align: justify;
        word-spacing: 2px;
        line-height: 25px;
    }

    .java-pro {
        width: auto;
        background-color: #b32929;
        padding: 8px 8px 8px 8px;
        word-spacing: 2px;
        line-height: 25px;
    }

    .javaImg {
        width: 100%;
        padding: 20px 10px 10px 10px;
    }




    /* CSS of Python */
    .py-variable {
        width: auto;
        background-color: #62b97c;
        padding: 8px 8px 8px 8px;
        width: 100%;
        word-spacing: 2px;
        line-height: 25px;
    }

    .py-basic {
        text-align: justify;
        background-color: azure;
        padding-left: 10px;
        padding-right: 10px;
        word-spacing: 2px;
        line-height: 25px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* CSS of Java */
    .div1 {
        background-color: rgb(236, 236, 225);
        padding-left: 8px;
        padding-right: 10px;
        text-align: justify;
        word-spacing: 2px;
        line-height: 25px;
    }

    .java-pro {
        width: auto;
        background-color: #bfd7a1;
        padding: 8px 8px 8px 8px;
        word-spacing: 2px;
        line-height: 25px;
    }

    .javaImg {
        width: 100%;
        padding: 20px 10px 10px 10px;
    }



    /* CSS of Index */
    .main-div {
        width: auto;
        height: 200px;
        background-color: white;
        /* margin-left: 5px; */
        margin-top: 5px;
        float: left;
    }

    .main-div img {
        width: 100%;
        height: 100%;
    }



    /* CSS of Python */
    #py-variable {
        width: auto;
        background-color: #eab9b9;
        padding: 8px 8px 8px 8px;
        word-spacing: 2px;
        line-height: 25px;
    }

    .py-basic {
        text-align: justify;
        background-color: azure;
        padding-left: 5px;
        padding-right: 5px;
        word-spacing: 2px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 700px) {

    .main-div {
        width: 100%;
        height: 190px;
        background-color: white;
        margin-top: 5px;
        float: left;
    }

    .main-div img {
        width: 100%;
        height: 100%;
    }

}